<h2>サブタイトル１</h2> 
<h3>あいさつ</h3> 
<% if @language == "En" %> 
<p>Hello <% if @sex == "male" %>Mr.<% end %><% if @sex == "female" %>Ms.<% end %><%= @name %>.<br>How are you?</p> 
<% end %> 
<% if @language == "Jp" %> 
<p>こんにちは、<%= @name %>さん。</p> 
<% end %> 
<% if @language == "Ge" %> 
<p>Guten Tag, <% if @sex == "male" %>Herr <% end %><% if @sex == "female" %>Frau <% end %><%= @name %>.</p> 
<% end %> 
<p><a href="./test1">戻る</a></p> 
